.main {
  button, input {
    border: 1px solid var(--primary-color);
    font-size: 2rem;
  }
  input {
    padding: 10px;
  }
  button {
    padding: 10px;
  }

  .startBtn {
    width: 100%;
  }
}

// todo move to global styles
.clock {
  margin: 30px auto 30px;
}