.settings {
  font-size: 1.5rem;

  input[type="checkbox"] {
    width: 20px;
  }
  ul {
    margin-top: 20px;
    & > * + * {
      margin-top: 5px;
    }
  }
  ul > * {
    display: flex;
    justify-content: space-between;
  }
}