*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html, body, #root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    border-radius: 5px;
}
/*fixme maybe cringe*/
button {
    cursor: pointer;
    transition: .3s;
}
/* todo button:focus*/
button:hover {
    /*    todo hover effects*/
    color: var(--bg-color);
    background-color: var(--primary-color);
}
button[disabled] {
    cursor: default;
    color: gray;
    border-color: gray;
    background-color: var(--bg-color);

}