.timeForm {
  display: flex;
  // fixme extract positioning to main page's styles

  input {
    flex-grow: 1;
    min-width: 0;
    @media (max-width: 500px) {
      font-size: 1.1rem;
    }
  }
  button {
    margin-left: 10px;
  }

}